<!--<table class="table table-hover">
  <tr *ngFor="let emp of service.list">
    <td (click)="populateForm(emp)">{{emp.nom}}</td>
    <td (click)="populateForm(emp)">{{emp.prenom}}</td>
    <td (click)="populateForm(emp)">{{emp.email}}</td>
    <td (click)="populateForm(emp)">{{emp.telephone}}</td>
    <td><button (click)="onDelete(emp.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>-->

<div class="content container">
    <div class="row">

        <div class="col-12">
            <div class="example ">

                <div class="description">
                    <div class="description-text">

                        <h3>Liste des clients</h3>

                    </div>

                </div>

                <div class="source-preview-wrapper">
                    <div class="preview">
                        <div class="preview-elements">

                            <table id="sample-data-table" class="table">
                                <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Nom</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Prenom</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Email</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">telephone</span>
                                            </div>
                                        </th>

                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Action</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let emp of service.list">
                                        <td (click)="populateForm(emp)">{{emp.nom}}</td>
                                        <td (click)="populateForm(emp)">{{emp.prenom}}</td>
                                        <td (click)="populateForm(emp)">{{emp.email}}</td>
                                        <td (click)="populateForm(emp)">{emp.telephone}}</td>
                                        <td>
                                            <button (click)="onDelete(emp.id)" class="btn btn-sm btn-outline-danger">X</button>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



