<!--<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Login Here</div>
    <div class="card-body">
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">

        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>

            <a routerLink="/signup" class="btn btn-info float-right">Sign Up</a>

          </div>
        </div>
        <small class=float-right>
          <a routerLink="/request-password-reset">Reset Password</a>
        </small>
      </form>
    </div>
  </div>
</div>-->

<div class="content custom-scrollbar">

    <div id="login" class="p-8">

        <div class="form-wrapper md-elevation-8 p-8">

            <div class="logo bg-secondary">
                <span>T</span>
            </div>

            <div class="title mt-4 mb-8">Se connecter a son compte</div>

            <form #loginForm=ngForm (ngSubmit)="onSubmit()" name="loginForm" novalidate>

                <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                  </div>

                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="loginFormInputEmail" aria-describedby="emailHelp" placeholder=" " />
                    <label for="loginFormInputEmail"> Address email</label>
                </div>

                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="loginFormInputPassword" placeholder="Password" />
                    <label for="loginFormInputPassword">Mot de passe</label>
                </div>

                <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">

                    <div class="form-check remember-me mb-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                            <span class="checkbox-icon"></span>
                            <span class="form-check-description">Se souvenir de moi</span>
                        </label>
                    </div>

                    <a href="#" class="forgot-password text-secondary mb-4">Mot de passe oublie?</a>
                </div>

                <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="CONNEXION">
                    CONNEXION
                </button>

            </form>





        </div>
    </div>

</div>
