<!--<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
    <a class="navbar-brand" routerLink="user" *ngIf="loggedIn">User</a>
    <a class="navbar-brand" routerLink="client" *ngIf="loggedIn">Client</a>

  </div>

</nav>-->
<div id="wrapper" *ngIf="loggedIn">
<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content bg-primary-700 text-auto">

        <div class="aside-toolbar">

            <div class="logo">
                <span class="logo-icon">F</span>
                <span class="logo-text">FUSE</span>
            </div>

            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>

        </div>

        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

            <li class="subheader">
                <span>APPS</span>
            </li>

            <li class="nav-item" role="tab" id="heading-dashboards">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false" aria-controls="collapse-dashboards">


                    <i class="icon s-4 icon-account-box"></i>
                    <span>Employes</span>
                </a>
                <ul id="collapse-dashboards" class='collapse show' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple active" routerLink="employelist" *ngIf="loggedIn" data-url="index.html">

                            <span>liste des employes </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/apps-dashboards-server.html" data-url="index.html">

                            <span>Server</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple" routerLink="servicelist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-calendar-today"></i>

                    <span>Service</span>
                </a>
            </li>

            <li class="nav-item" role="tab" id="heading-ecommerce">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="false" aria-controls="collapse-ecommerce">

                    <i class="icon s-4 icon-account-box"></i>

                    <span>Client</span>
                </a>
                <ul id="collapse-ecommerce" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple "  routerLink="clientListe" *ngIf="loggedIn" data-url="index.html">

                            <span>Liste des clients</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/apps-e-commerce-product.html" data-url="index.html">

                            <span>Product</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/apps-e-commerce-orders.html" data-url="index.html">

                            <span>Orders</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="userlist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-account-box"></i>

                    <span> Utilisateurs </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="postlist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-hangouts"></i>

                    <span>Post</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="requetelist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-folder"></i>

                    <span> Requetes </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="discussionlist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-hangouts"></i>

                    <span>Discussions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " routerLink="chat" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-hangouts"></i>

                    <span>Chat</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="rolelist" *ngIf="loggedIn" data-url="index.html">

                    <i class="icon s-4 icon-tile-four"></i>

                    <span>Roles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="apps-todo.html" data-url="index.html">

                    <i class="icon s-4 icon-checkbox-marked"></i>

                    <span> Privileges </span>
                </a>
            </li>

            <li class="nav-item" role="tab" id="heading-authentication">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-authentication" routerLink="entreprise" *ngIf="loggedIn" aria-expanded="false" aria-controls="collapse-authentication">

                    <i class="icon s-4 icon-chip"></i>

                    <span>Entreprise</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " routerLink="categorie" *ngIf data-url="index.html">

                    <i class="icon s-4 icon-alarm-check"></i>

                    <span> Categorie </span>
                </a>
            </li>

            <li class="nav-item" role="tab" id="heading-errors">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-errors" href="#" aria-expanded="false" aria-controls="collapse-errors">

                    <i class="icon s-4 icon-alert"></i>

                    <span>Errors</span>
                </a>
                <ul id="collapse-errors" class='collapse ' role="tabpanel" aria-labelledby="heading-errors" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="pages-errors-404.html" data-url="index.html">

                            <span>404</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="pages-errors-500.html" data-url="index.html">

                            <span>500</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="pages-maintenance.html" data-url="index.html">

                    <i class="icon s-4 icon-oil"></i>

                    <span>Maintenance</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="pages-profile.html" data-url="index.html">

                    <i class="icon s-4 icon-account"></i>

                    <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="pages-search.html" data-url="index.html">

                    <i class="icon s-4 icon-magnify"></i>

                    <span>Recherche</span>
                </a>
            </li>

            <li class="subheader">
                <span>USER INTERFACE</span>
            </li>

            <li class="nav-item" role="tab" id="heading-elements">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-elements" href="#" aria-expanded="false" aria-controls="collapse-elements">

                    <i class="icon s-4 icon-layers"></i>

                    <span>Elements</span>
                </a>
                <ul id="collapse-elements" class='collapse ' role="tabpanel" aria-labelledby="heading-elements" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-alerts.33.dela" data-url="index.html">

                            <span>Alerts</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-badges.34.dela" data-url="index.html">

                            <span>Badges</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-breadcrumb.35" data-url="index.html">

                            <span>Breadcrumb</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-buttons.36.del" data-url="index.html">

                            <span>Buttons</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-button-group.3" data-url="index.html">

                            <span>Button Group</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-cards.38.delay" data-url="index.html">

                            <span>Cards</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-dropdowns.39.d" data-url="index.html">

                            <span>Dropdowns</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-forms.3a.delay" data-url="index.html">

                            <span>Forms</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-input-group.3b" data-url="index.html">

                            <span>Input Group</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-jumbotron.3c.d" data-url="index.html">

                            <span>Jumbotron</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-list-group.3d" data-url="index.html">

                            <span>List Group</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-navs.3e.delaye" data-url="index.html">

                            <span>Navs</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-navbar.3f.dela" data-url="index.html">

                            <span>Navbar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-pagination.40" data-url="index.html">

                            <span>Pagination</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-elements-progress.41.de" data-url="index.html">

                            <span>Progress</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-tables">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-tables" href="#" aria-expanded="false" aria-controls="collapse-tables">

                    <i class="icon s-4 icon-table-large"></i>

                    <span>Tables</span>
                </a>
                <ul id="collapse-tables" class='collapse ' role="tabpanel" aria-labelledby="heading-tables" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-tables-simple-table.42" data-url="index.html">

                            <span>Simple Table</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-tables-data-table.43.de" data-url="index.html">

                            <span>Data Table</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-page-layouts">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-page-layouts" href="#" aria-expanded="false" aria-controls="collapse-page-layouts">

                    <i class="icon s-4 icon-view-quilt"></i>

                    <span>Page Layouts</span>
                </a>
                <ul id="collapse-page-layouts" class='collapse ' role="tabpanel" aria-labelledby="heading-page-layouts" data-children=".nav-item">

                    <li class="nav-item" role="tab" id="heading-carded">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-carded" href="#" aria-expanded="false" aria-controls="collapse-carded">

                            <span>Carded</span>
                        </a>
                        <ul id="collapse-carded" class='collapse ' role="tabpanel" aria-labelledby="heading-carded" data-children=".nav-item">

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-ful" data-url="index.html">

                                    <span>Full Width</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-ful-2" data-url="index.html">

                                    <span>Full Width 2</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-lef" data-url="index.html">

                                    <span>Left Sidebar</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-lef-2" data-url="index.html">

                                    <span>Left Sidebar 2</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-rig" data-url="index.html">

                                    <span>Right Sidebar</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-carded-rig-2" data-url="index.html">

                                    <span>Right Sidebar 2</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item" role="tab" id="heading-simple">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-simple" href="#" aria-expanded="false" aria-controls="collapse-simple">

                            <span>Simple</span>
                        </a>
                        <ul id="collapse-simple" class='collapse ' role="tabpanel" aria-labelledby="heading-simple" data-children=".nav-item">

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-ful" data-url="index.html">

                                    <span>Full Width</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-lef" data-url="index.html">

                                    <span>Left Sidebar</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-lef-2" data-url="index.html">

                                    <span>Left Sidebar 2</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-lef-3" data-url="index.html">

                                    <span>Left Sidebar Inner</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-lef-4" data-url="index.html">

                                    <span>Left Sidebar Floating</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-rig" data-url="index.html">

                                    <span>Right Sidebar</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-rig-2" data-url="index.html">

                                    <span>Right Sidebar 2</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-rig-3" data-url="index.html">

                                    <span>Right Sidebar Inner</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-rig-4" data-url="index.html">

                                    <span>Right Sidebar Floating</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-simple-tab" data-url="index.html">

                                    <span>Tabbed</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-page-layouts-blank.54.d" data-url="index.html">

                            <span>Blank</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-typography.html" data-url="index.html">

                    <i class="icon s-4 icon-format-text"></i>

                    <span>Typography</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-icons.html" data-url="index.html">

                    <i class="icon s-4 icon-information"></i>

                    <span>Icons</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-colors.html" data-url="index.html">

                    <i class="icon s-4 icon-palette"></i>

                    <span>Colors</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/user-interface-helper-classes.58.delay" data-url="index.html">

                    <i class="icon s-4 icon-help-circle"></i>

                    <span>Helper Classes</span>
                </a>
            </li>

            <li class="subheader">
                <span>COMPONENTS</span>
            </li>

            <li class="nav-item" role="tab" id="heading-charts">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-charts" href="#" aria-expanded="false" aria-controls="collapse-charts">

                    <i class="icon s-4 icon-poll"></i>

                    <span>Charts</span>
                </a>
                <ul id="collapse-charts" class='collapse ' role="tabpanel" aria-labelledby="heading-charts" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="../vertical-layout-below-toolbar-below-footer-left/components-charts-nvd3.html" data-url="index.html">

                            <span>nvD3</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="components-collapse.html" data-url="index.html">

                    <i class="icon s-4 icon-plus-box"></i>

                    <span>Collapse</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="components-modal.html" data-url="index.html">

                    <i class="icon s-4 icon-window-maximize"></i>

                    <span>Modal</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="components-popovers.html" data-url="index.html">

                    <i class="icon s-4 icon-tooltip-outline"></i>

                    <span>Popovers</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="components-snackbar.html" data-url="index.html">

                    <i class="icon s-4 icon-page-layout-footer"></i>

                    <span>Snackbar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="components-tooltips.html" data-url="index.html">

                    <i class="icon s-4 icon-tooltip"></i>

                    <span>Tooltips</span>
                </a>
            </li>

        </ul>
    </div>

</aside>
</div>
